@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$font: "Lato", sans-serif;
$bg-color: #e7e7e7;
$input-color: #f7f7f7;
$keys-color: #ffffff;
$font-color-black: #000000;
$keys-active-color: #333333;

%flex-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes keys-animation {
  from {
    transform: scale(0.9);
    background-color: $keys-active-color;
    color: $keys-color;
  }
  to {
    transform: scale(1);
    background-color: $keys-color;
    color: $font-color-black;
  }
}

@keyframes keys_night_animation {
  from {
    background-color: $keys-color;
    color: $font-color-black;
  }

  to {
    background-color: $font-color-black;
    color: $keys-color;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  transition: 0.2s;
}

.body_active {
  background-color: $keys-active-color;
}

.container {
  height: 100vh;
  @extend %flex-options;
  flex-direction: column;
  margin: 0 10px;
}

.keyboard__wrapper {
  max-width: 1008px;
  width: 100%;
  background-color: $bg-color;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.keyboard__wrapper_active {
  background-color: $keys-active-color;
}

.row {
  display: flex;
}

.keys {
  width: 60px;
  height: 60px;
  @extend %flex-options;
  background-color: $keys-color;
  margin: 4px;
  transition: 0.2s;
  cursor: pointer;
  z-index: 5;
}

.keys.keys_night {
  background-color: $keys-active-color;
  color: $keys-color;
  border: 1px solid $keys-color;
}

.backspace-key {
  width: 120px;
}

.tab-key,
.slash-key {
  width: 90px;
}

.CL-key {
  width: 128px;
}

.enter-key {
  width: 120px;
}

.shift-key {
  width: 124px;
}

.space-key {
  max-width: 600px;
  width: 100%;
}

.text {
  max-width: 1008px;
  width: 100%;
  height: 90px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  font-size: 26px;
  background-color: $input-color;
  padding-left: 10px;
  transition: 0.2s;
}

.keys.active {
  background-color: $keys-active-color;
  color: $keys-color;
}

.keys.remove {
  animation: keys-animation 0.5s forwards;
}

.night-mode {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: $bg-color;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50px;
  transition: 0.2s;
  cursor: pointer;
}

.night-mode_active {
  background-color: $font-color-black;
}

.toggle-circle {
  width: 20px;
  height: 20px;
  background-color: $keys-active-color;
  border-radius: 50px;
  margin: 0 5px;
  position: absolute;
  left: 0;
  transition: 0.2s;
}

.toggle-circle_active {
  left: 60%;
  background-color: $keys-color;
}

.text_active {
  background-color: #2b2b2b;
}

.keys.keys_night.active {
  background-color: $keys-color;
  color: $keys-active-color;
}

.keys.keys_night.remove {
  animation: keys_night_animation 0.5s forwards;
}

.color-changer {
    width: 100px;
    height: 50px;
    @extend %flex-options;
    position: absolute;
    right: 150px;
    top: 15px;
}

.colors-input {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    background-color: transparent;
}

.color-changer.night {
    background-color: $font-color-black;
}

.keyboard__color {
    position: absolute;
    width: 100%;
    height: 100%;
}